/* Footer related classes begin */
.social-icons  {
    margin-top: 30px;
    margin-left: 50px;
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}

.social-icons  {
    border-bottom: none;
}

  .social-icons img {
    width:64px;
    height:64px;
    align-self: center;
    align-content: center;
}

.email-section {
    margin-top: 30px;
    display:inline-block;
    margin-right: 50px;
}

footer {
    font-family: 'Nunito', 'Sans Serif';
    font-size: 14px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-bottom: 50px;
    color: black;
    text-align: center;
    box-sizing: border-box;
}

.footer .footer-left,
.footer .footer-center{
    display: inline-block;
    vertical-align: top;
}

.footer .footer-left p{
    padding: 2px;
    line-height: 2.4;
    font-size: 12px;
}


/* Footer end */
