@import "nav-menu.css";
@import "footer.css";
@import "videos.css";


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    background-color: #fff;
}

body {
    font-family: 'Nunito', sans-serif;
}

.bodyAcervo{
    background-color: white;
}


.contact{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    padding-top: 40px;
    margin-bottom: 32px;
}

.contact h1 {
    padding-top: 60px;
}

.container {
    width: 50%;
    align-self: center;
}
  
.form-contact {
    margin-top: 32px;
    width: 100%;
    font-family: 'Nunito', sans-serif;

}
  
.form-contact-input {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: #292929;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    text-indent: 20px;
}
  
.form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    text-indent: 20px;
    padding-top: 16px;

    font-family: 'Nunito', sans-serif;
}

.accessButton {
    text-align: center;
    width: 200px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    background: #000000;
    display: block;
    border: none;
}

.accessButton:hover {
    background-color: white;
    border: solid;
    border-color: black;
    border-width: thin;
    color: black;
}

.subtitle{
    text-align: left;
}

#buttonContainer{
    justify-content: center;
}
.form-contact-button {
    width: 200px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    border-radius: 4px;
    color: #000;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #ffffff;
    display: block;
    border: none;
}
.form-contact-button:hover {
    background-color: black;
    border: solid;
    border-color: white;
    border-width: thin;
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

.container-team{
    height: 100%;
    width: 100%;
    
}

.heading {
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: bold;
    padding: 40px 0px;
}

.heading span {
    font-size: 20px;
}

.profiles {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    padding-bottom: 40px;
}

.profile {
    width: 100%;
    flex-basis: 260px;
}

.profile {
    height: 260px;
    width: 260px;
    border-radius: 100%;
}

.profile-img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    padding: 16px;
    align-self: center;
}

.members {
    margin: 32px;
    background-color: #f8f9fa;

}

.copy {
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;

}

.footer-image {
    padding: 16px;
}


.banner{
    width: 100%;
    }

.flex-column{
    align-content: center;
    display: flex;
    flex-direction: column;
    
}

.flex-row{
    display: flex;
    flex-direction: row;
}

#mainBody{
    height: 100%;
}


.imageContainer {
    align-content: center;
    align-self: center;
    margin: 20px;
    width: 100%;
    height: 100%;
    
}


.img{
    max-width: 100%;
    height: auto;
}

#quem-somos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}


#oq-fazemos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}

.flexRowSubMain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    margin: 0;
}

.align-left{
    text-align: left;
}

#quemSomosText{
    margin: 20px;
    width: 100%;
    text-align: center;
    padding-top: 70px;

}
#quemSomosText p{
    padding-top: 20px;
    text-align: left;

}

#oqFazemosText{
    margin: 20px;
    width: 100%;
    text-align: center;
    padding-top: 2px;
}

#oqFazemosText p{
    padding-top: 20px;
    text-align: left;

}

#mpqrecomenda {
    text-align: center;
    margin: 0 10vw;
}

#listOfMembers{
    padding: 32px;
}
#memberCard{
    margin: 16px;
}


.hidden{
    background-color: lawngreen;
    height: 200px;
    position: fixed;
}

.description{
    text-align: justify;
    margin: 0 10vw;
    text-align: center;
}

#enactus-container{
    margin: 32px;
    display: flex;
    flex-direction: row;
}
.enactus-photo-class{
    width: 500px;
    height: auto;
}

#nossaEquipeTopo{
    align-items: center;
    align-self: center;
    overflow: hidden;
}

/*Slider membros*/
.equipe {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background: #f2f2f2;
    }
  
    .slider{
      max-width: 1100px;
      display: flex;

    }
    
    .slider .card{
      flex: 1;
      margin: 0 10px;
      background: #fff;
      min-height: 508px; /*tamanho da maior para padronizar*/
    }
    
    .slider .card .img{
      height: 300px;
      width: 100%;
    }
    
    .slider .card .img img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    
    .slider .card .content{
      padding: 10px 20px;
    }
    
    .card .content .title{
      font-size: 25px;
      font-weight: 600;
    }
    
    .card .content .sub-title{
      font-size: 20px;
      font-weight: 600;
      color: #000000;
      line-height: 20px;
    }
    
    .card .content p{
      text-align: justify;
      margin: 10px 0;
    }

    .card .content .hideContent {
        overflow: hidden;
        line-height: 1em;
        height: 2em;
    }
    .card .content .showContent {
        line-height: 1em;
        height: auto;
    }
    .card .content .showContent{
        height: auto;
    }
    .card .content .showMore{
        padding: 4px;
        text-align: center;
        border-radius: 4px;
        color: #b8b6b6;
        cursor: pointer;
        background: #f2f2f2;
        display: block;
        border: none;
    }
    
    
  /*Fim do Slider  

/*Responsividade*/


/*Mobile*/
@media only screen and (max-width: 600px) {
    .enactus-photo-class{
        width: 100%;
    }
    #quem-somos {
        display: flex;
        flex-direction: column;
    }

    .flexRowSubMain{
        display: flex;
        flex-direction: column;
    }

    #oq-fazemos{
        flex-direction: column;
        }

    #listOfMembers{
        flex-direction: column;
    }
    .container{
        width: 90%;
    }

}

/*half-screen-ish*/
@media only screen and (max-width: 1100px) {
    #enactus-container{
        flex-direction: column;
    }
    
    #oq-fazemos{
        
        display: flex;
        flex-direction: column;
    }
    #quem-somos {
   
        display: flex;
        flex-direction: column;
    }

    .flexRowSubMain{
        display: flex;
        flex-direction: column;
    }

    .imageContainer {
        align-content: center;
        align-self: center;
        margin: 0px;
        width: 100%;
        height: 100%;
        
    }

    #oqFazemosText{
        margin-right: 0px;
        margin-left: 0px;
        text-size-adjust: auto;
        padding-top: 0px;
    }

    #quemSomosText{
        margin-right: 0px;
        margin-left: 0px;
        text-size-adjust: auto;
        padding-top: 0px;
    }
    

  }
