/* unvisited link */
.linkCustomized:link {
  width: 25%;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  
  /* visited link */
  .linkCustomized:visited {
    color: #434343;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  /* mouse over link */
  .linkCustomized:hover {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  /* selected link */
  .linkCustomized:active {
    color: #4a1112;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }