/* Estilos referentes à barra de navegação superior.
Para importar pra outra página CSS só usar @import nav-menu.css */



#menu-bar{
    overflow: hidden;
    box-sizing: border-box;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    background:white;
    z-index: 2;
    
}

#responsive-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


#menu-links{
    right: auto;
    display: flex;
    justify-content: space-around;
    align-self: center;    

}


.nav-button{
    color:black;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
   
}


.nav-button:hover{
    opacity: 50%;
    text-decoration: underline;
    text-decoration-color: white;
}

#menu-logo:hover{
    opacity: 50%;
}

/*Responsividade*/

@media only screen and (max-width: 600px) {
    #menu-logo{
        align-self: center;
    }

    #responsive-div{
        flex-direction: column;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto  ;
  }
  

  .sticky + .content {
    padding-top: 60px;
  }
  