body {
    background-color: #4a1112;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 20 px;
    padding: 10px;
}

h1 {
    display: block;
    color: white;
    font-size: 40 px;
    padding:0;
    margin-bottom: 0;
}
h2{
    font-size: 16px;
    font-weight: lighter;
    color: white;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    border-radius: 8px;
    margin: 0 auto;
    background-color: black;
}
article {
    background-color: white ;
    color: black;
    padding: 16px;
    border-radius: 10px;
    text-align: justify;
    padding: 20px;
    font-size: 16 px;
}


.imagem-pagina{
    width: 20%;
    height: 20%;
}
button {
    text-align: center;
    width: 150px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    border-radius: 4px;
    background-color: #434343;
    color: white;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    display: block;
    border: none;
}

button:hover {
    background-color: white;
    border: solid;
    border-color: black;
    border-width: thin;
    color: black;
    border: none;
}

.returnArrow {
    cursor: pointer;
    padding: 16px;
    display: block;
    height: 32px;
    width: 32px;
    background-color: #434343;
    border-radius: 4px;
}
.returnArrow:hover {
    background-color: white;
    border: solid;
    border-color: black;
    border-width: thin;
    color: black;
}

.returnArrow:hover .arrowSize{
    color: black;
}

.arrowSize {
    font-size: 32px;
    color: white; 
}
