body {
    background-color: #4a1112;
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 50px;
    padding: 10px;
}

header {
    display: block;
    color: white;
    font-size: 70%;
}

article {
    background-color: white ;
    color: black;
    padding: 16px;
    border-radius: 10px;
    text-align: justify;
}

.imagem-pagina{
    width: 20%;
    height: 20%;
}
button {
    text-align: center;
    width: 150px;
    font-size: 80%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    border-radius: 4px;
    color: #4a1112;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    background: white;
    display: block;
    border: none;
}

button:hover {
    background-color: white;
    border: solid;
    border-color: black;
    border-width: thin;
    color: black;
}
