
.container-videos {
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
}

.content-videos {
    width: 100%;
}
/*
header, section {
    text-align: center;
    background-color: #ffffff;
}

section {
    position: relative;
    margin: 0 auto;
}

main{
    padding: 0px 18px 10px;
} */

.article-videos{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px 12px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin: 16px auto;
}

.article-videos:hover{
    border: 2px solid #000000;
}

.thumb{
    height: 70px;
    border-radius: 4px;
}

.titulo-thumb{
    display: flex;
    flex-direction: row;
}


/*Necessario para o collapsible*/
.details{ 
    position: relative;
    z-index: 0;
    width: 80%;


    padding: 20px 20px;
    transition: ease .3s all;
    animation-name: fadeIn;
    animation-duration: .6s;
    animation-fill-mode: both;
    will-change: transform;
}

.js-video{
    flex-direction: column;
}

/*Necessario para o collapsible*/
.hidden{
    display: none;
}

/*Necessario para o collapsible*/
.active{
  display: block;
}
