h1{
    padding: 0;
    margin: 0;
    line-height: 1.3;
    color: black;
}

h4{
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
}

p{
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
    font-size: 0.7rem;
    color: gray;
}

body{
    padding: 0;
    margin: 0;
    background-color: #dddddd;
}

.container {
    width: 560px;
    background-color: #ffffff;
    margin: 0 auto;
}

header, section {
    text-align: center;
    background-color: #ffffff;
}

section {
    position: relative;
    margin: 0 auto;
}

main{
    padding: 0px 18px 10px;
}

article{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin: 0 auto;
}

article:hover{
    border: 2px solid #ff9999;
}

.thumb{
    height: 70px;
    border-radius: 4px;
}

/*Necessario para o collapsible*/
.details{ 
    padding: 20px 20px;
    transition: ease .3s all;
    animation-name: fadeIn;
    animation-duration: .6s;
    animation-fill-mode: both;
    will-change: transform;
}

/*Necessario para o collapsible*/
.hidden{
    display: none;
}

/*Necessario para o collapsible*/
.active{
  display: block;
}
